.button {
  height: 10vh;
  width: 10vh;
  padding: 1em;
  margin: 1em;
  background-color: rgb(236, 87, 1);
  border: 3pt solid black;
  transition: 0.5s;
  place-self: center;
  grid-column: 2;
  grid-row: 1;
}

:hover.button {
  background-color: palegoldenrod;
  transform: scale(1.2);
}

.button:active {
  background-color: rgb(236, 87, 1);
  transform: scale(1);
}
