.button {
  height: 10vh;
  width: 10vh;
  padding: 1em;
  margin: 1em;
  background-color: antiquewhite;
  border: 3pt solid black;
  transition: 0.5s;
  place-content: center;
}

:hover.button {
  background-color: palegoldenrod;
}
